
.header button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
  

body {
    background-color: black;
}


.inline-element {
    cursor: pointer; 
    display: block;
    margin-bottom: 10px;
    text-align: left; 
}


.header {
    background-color: black;
    font-size: 1px;
}


.inline-element img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.dropdown {
    padding-bottom: 5px;
    color: white;
    position: relative;
    display: block;
    margin-bottom: 330px;
}

.dropdown-content {

    position: absolute;
    left: 0; 
    background-color: black;
    z-index: 1;
}

.dropdown-content .inline-element {
    color: white;
    margin-bottom: 10px;
    display: block;
}


.dropdown:first-child .dropbtn {
    color: white;
}

.dropdown:last-child .dropbtn {
    
    padding-top: 5px;
    margin-left: 9px;
    color: white;
}



.streaming-content {
    
    top: 100%;
    left: 0;
  }
  
  .social-content {
    top: 100%;
    left: 0;
  }
  
